img {
    margin-right: 3rem;
}

.info {
    margin: 1.2rem;
}

.info-card {
    margin-bottom: 1.5rem;
}

.contatti-welcome {
    margin-right: 20rem; 
    margin-bottom: 2rem;
}

.card-img-top {
    width: 18rem;
    height: 18rem;
    margin: 0;
}

@media screen and (max-width: 2300px){
    #school-text {
        text-align: center;
    }
    .contatti-welcome {
        margin-right: 0; 
    }
}

@media screen and (min-width: 600px){
    .card-img-top {
        width: 25rem;
        height: 25rem;
        margin-right: 5rem;
    }
    .info{
        margin-left: 3rem;
    }
}