.card {
    border: black;
    gap: 2rem;
}

.card-body, .card {
    background-color: black;
}

h2 {
    color: white;
    margin-bottom: 2rem;
}

.card-group {
    margin-top: 6rem;
    gap: 4rem;
}

.corsi-explore {
    margin-right: 20rem; 
    margin-bottom: 2rem;
}

@media screen and (max-width: 2300px){
    #school-text{
        text-align: center;
    }

    .main-text {
        margin-right: 0;
    }

    .card {
        margin: 0;
    }

    .corsi-explore {
        margin-right: 0; 
    }
}

