*{
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

#top {
    min-height: 100vh;
    background-color: black;
}

#navbar-line {
    border: 1px solid white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

body {
    display: flex;
    flex-direction: column;
}

#logo-search {
    display: flex;
    justify-content: space-between;
}
#search {
    display: flex;
    justify-content: space-between;
    gap: 7rem;
    background-color: white;
    border-radius: 1rem;
    height: fit-content;
    padding: 0.3rem;
    padding-left: 0.4rem;
    align-self: flex-end;
    height: 1.75rem;
}

.search-icon {
    padding-right:0.2rem;
}
.black-text {
    color: black;
}

#img-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#header {
    margin-top: 1.2rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

#selectors-container {
    display: flex;
    justify-content: center;
    gap:2.5rem;
}

a {
    text-decoration: none;
}

a:hover {
    color: gray;
    transform: scale(1.02);
}

#about-us {
    background-color: black;
    color: white;
    min-height: 12rem;
    padding-top: 2.2rem;
}

#about-us-txt {
    font-size: 42px;
    margin: 1.2rem;
    margin-top: 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.label {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.name-email-container {
    display: flex;
    gap: 3rem;
}

#send-form-btn {
    color: white;
    background-color: black;
    width: 7rem;
    border-radius: 1rem;
    cursor: pointer;
    height: 2.7rem;
    align-self: flex-end;
}

.cell-course-send-container {
    display: flex;
    justify-content: space-between;
}

#form-title, #form-text {
    margin-bottom: 1rem;
}

#form-text {
    margin-right: 35%;
}

footer {
    background-color: black;
    padding: 2rem;
}

.info-container {
    display: flex;
    justify-content: space-between;
}

.contact-container {
    display: flex;
    justify-content: center;
    gap:3rem;
}

.icons-container {
    margin-top: 4rem;
}


#school-line {
    border: 0.6px solid grey;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right:72rem;
}

.benvenuto {
    flex: 70%;
}

a {
    color: white;
}

.dropdown {
    display: none;
}

@media screen and (max-width: 2300px){
    #top {
        min-height: auto;
        background-color: black; 
    }
    .benvenuto {
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 500px){
    .dropdown {
        display:  block;
    }
    
    #selectors-container {
        display: none;
    }
    
    #search {
        display: none;
    }

    #about-us-txt {
        text-align: center;
    }
}
